In [1]:
print("hello world")

hello world

In [2]:
import pandas as pd
import numpy as np

In [ ]:
#pandas.DataFrame.loc[]

In [31]:

# Pandas.DataFrame.loc[] Syntax & Usage
import pandas as pd
technologies = {
    'Courses':["Spark","PySpark","Hadoop","Python","pandas"],
    'Fee' :[20000,25000,26000,22000,24000],
    'Duration':['30day','40days','35days','40days','60days'],
    'Discount':[1000,2300,1200,2500,2000]
              }
index_labels=['r1','r2','r3','r4','r5']
df = pd.DataFrame(technologies,index=index_labels)
print(df)

    Courses    Fee Duration  Discount
r1    Spark  20000    30day      1000
r2  PySpark  25000   40days      2300
r3   Hadoop  26000   35days      1200
r4   Python  22000   40days      2500
r5   pandas  24000   60days      2000

In [51]:
df["anu"]=""
df['anu']=[28000,2000,2000,7990,8000]
df

    Courses    Fee Duration  Discount    anu
r1    Spark  20000    30day      1000  28000
r2  PySpark  25000   40days      2300   2000
r3   Hadoop  26000   35days      1200   2000
r4   Python  22000   40days      2500   7990
r5   pandas  24000   60days      2000   8000

In [32]:

# Select Single Row by Label
print(df.loc['r2'])

Courses     PySpark
Fee           25000
Duration     40days
Discount       2300
Name: r2, dtype: object

In [33]:

# Select Single Column by label
print(df.loc[:, "Courses"])

r1      Spark
r2    PySpark
r3     Hadoop
r4     Python
r5     pandas
Name: Courses, dtype: object

In [34]:
# Select Multiple Rows by Label
print(df.loc[['r2','r3']])

    Courses    Fee Duration  Discount
r2  PySpark  25000   40days      2300
r3   Hadoop  26000   35days      1200

In [35]:

# Select Multiple Columns by labels
print(df.loc[:, ["Courses","Fee","Discount"]])

    Courses    Fee  Discount
r1    Spark  20000      1000
r2  PySpark  25000      2300
r3   Hadoop  26000      1200
r4   Python  22000      2500
r5   pandas  24000      2000

In [38]:
# Select Rows Between two Index Labels
# Includes both r1 and r4 rows
print(df.loc['r1':'r4'])

    Courses    Fee Duration  Discount
r1    Spark  20000    30day      1000
r2  PySpark  25000   40days      2300
r3   Hadoop  26000   35days      1200
r4   Python  22000   40days      2500

In [39]:

# Select Columns between two Labels
# Include both 'Fee' and 'Discount' columns
print(df.loc[:,'Fee':'Discount'])

      Fee Duration  Discount
r1  20000    30day      1000
r2  25000   40days      2300
r3  26000   35days      1200
r4  22000   40days      2500
r5  24000   60days      2000

In [40]:

# Select Alternate rows By indeces
print(df.loc['r1':'r4':2])

   Courses    Fee Duration  Discount
r1   Spark  20000    30day      1000
r3  Hadoop  26000   35days      1200

In [41]:

# Select Alternate Columns between two Labels
print(df.loc[:,'Fee':'Discount':2])

      Fee  Discount
r1  20000      1000
r2  25000      2300
r3  26000      1200
r4  22000      2500
r5  24000      2000

In [42]:
# Using Conditions
print(df.loc[df['Fee'] >= 24000])

    Courses    Fee Duration  Discount
r2  PySpark  25000   40days      2300
r3   Hadoop  26000   35days      1200
r5   pandas  24000   60days      2000

In [43]:

# Examples of pandas DataFrame loc
import pandas as pd
technologies = {
    'Courses':["Spark","PySpark","Hadoop","Python","pandas"],
    'Fee' :[20000,25000,26000,22000,24000],
    'Duration':['30day','40days','35days','40days','60days'],
    'Discount':[1000,2300,1200,2500,2000]
              }
index_labels=['r1','r2','r3','r4','r5']
df = pd.DataFrame(technologies,index=index_labels)
print(df)

# Select single Row
print(df.loc['r2'])

# Select Single Column by label
print(df.loc[:, "Courses"])

# Select Multiple Rows by Label
print(df.loc[['r2','r3']])

# Select Multiple Columns by labels
print(df.loc[:, ["Courses","Fee","Discount"]])

# Select Rows Between two Index Labels
# Includes both r1 and r4 rows
print(df.loc['r1':'r4'])

# Select Columns between two Labels
# Includes both 'Fee' and 'Discount' columns
print(df.loc[:,'Fee':'Discount'])

# Select Alternate rows By indeces
print(df.loc['r1':'r4':2])

# Select Alternate Columns between two Labels
print(df.loc[:,'Fee':'Discount':2])

# Using Conditions
print(df.loc[df['Fee'] >= 24000])

    Courses    Fee Duration  Discount
r1    Spark  20000    30day      1000
r2  PySpark  25000   40days      2300
r3   Hadoop  26000   35days      1200
r4   Python  22000   40days      2500
r5   pandas  24000   60days      2000
Courses     PySpark
Fee           25000
Duration     40days
Discount       2300
Name: r2, dtype: object
r1      Spark
r2    PySpark
r3     Hadoop
r4     Python
r5     pandas
Name: Courses, dtype: object
    Courses    Fee Duration  Discount
r2  PySpark  25000   40days      2300
r3   Hadoop  26000   35days      1200
    Courses    Fee  Discount
r1    Spark  20000      1000
r2  PySpark  25000      2300
r3   Hadoop  26000      1200
r4   Python  22000      2500
r5   pandas  24000      2000
    Courses    Fee Duration  Discount
r1    Spark  20000    30day      1000
r2  PySpark  25000   40days      2300
r3   Hadoop  26000   35days      1200
r4   Python  22000   40days      2500
      Fee Duration  Discount
r1  20000    30day      1000
r2  25000   40days      2300
r3  26000   35days      1200
r4  22000   40days      2500
r5  24000   60days      2000
   Courses    Fee Duration  Discount
r1   Spark  20000    30day      1000
r3  Hadoop  26000   35days      1200
      Fee  Discount
r1  20000      1000
r2  25000      2300
r3  26000      1200
r4  22000      2500
r5  24000      2000
    Courses    Fee Duration  Discount
r2  PySpark  25000   40days      2300
r3   Hadoop  26000   35days      1200
r5   pandas  24000   60days      2000